#this file contains auxiliary data that are transferred to the datareceiver before starting a scan.they are considered to be a scan layout. 
#the scheduler does not do any checks on the format of the data, it just looks for the tag scan in order to limit the layout procedure.
#if the scan layout is passed or not it is controlled by the schedule on scan basis.

EQMAPLAYOUT {
here you could write 
whatever could be understood by the current DataReceiver
}

DUMMY {
again any text is valid. 

}