
# The first field is the name of the procedure which must be unique in the file, then the name of the instance of the backend the 
# procedure refers to. The open bracket must lie on the same line. Between the brackets the configuration commands of the backend. The commands must be complaint to what the
# backend expects. The scheduler will not start the acquisition until the all configuration procedure is finished.
# the brackets inclosed instruction are hardware dependent and they may vary from case to case.
STD:BACKENDS/TotalPower {
	getTpi
}

HIGH:BACKENDS/TotalPower {
	getTpi
}